---
interface OptionItem {
  name: string;
  description: string;
  defaultValue?: string;
}

interface Props {
  items: OptionItem[];
}

const { items } = Astro.props;
---

<div class="ash-help-list" role="list">
  {items.map((item) => (
    <article class="ash-help-row" role="listitem">
      <code class="ash-help-flag">{item.name}</code>
      <div class="ash-help-desc">
        <p>{item.description}</p>
        {item.defaultValue && (
          <span class="ash-help-default">default: {item.defaultValue}</span>
        )}
      </div>
    </article>
  ))}
</div>
