---
interface OptionItem {
  name: string;
  description: string;
  defaultValue?: string;
}

interface Props {
  items: OptionItem[];
}

const { items } = Astro.props;
---

<dl class="ash-help-list">
  {items.map((item) => (
    <div class="ash-help-row">
      <dt><code class="ash-help-flag">{item.name}</code></dt>
      <dd class="ash-help-desc">
        {item.description}
        {item.defaultValue && (
          <>
            {' '}
            <span class="ash-help-default">[default: {item.defaultValue}]</span>
          </>
        )}
      </dd>
    </div>
  ))}
</dl>
